.ant-form-item-explain {
  text-align: left !important; /* Căn trái toàn bộ lỗi */
  display: block !important; /* Đảm bảo xuống hàng */
}

/* .jura-400 {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
*{
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
